In [ ]:
import datetime
queryhr1 = """select employees.firstName, employees.lastName, sum(payments.amount), year(payments.paymentDate) as year, month(payments.paymentDate) as month
from employees
inner join customers on employees.employeeNumber=customers.salesRepEmployeeNumber
	inner join payments on customers.customerNumber=payments.customerNumber
group by employees.lastName, date_format(payments.paymentDate, " %Y %M")
having year= 2021 and month = 8
order by sum(payments.amount) desc
limit 2
"""

#list_query = queryhr1.split()
#print(list_query)
#print(list_query.index('2021'))
#print(list_query.index('8'))
#year = str(input("please enter the year: "))
#month = str(input("please enter the month: "))
#list_query[31] = year
#list_query[35] = month
#print(list_query)
#queryhrx = " ".join(list_query)
#print(queryhrx)
actual_month = str(datetime.datetime.now().month)
actual_year = str(datetime.datetime.now().year)
test = str(int(actual_month) - 1)
print(test)
print(actual_month, actual_year)
#def my_date(year = str(datetime.datetime.now().year), month = str(datetime.datetime.now().month)):
 # year = str(input("please enter the year: "))
  #month = str(input("please enter the month: "))
  #list_query[31] = year
  #list_query[35] = month
  #queryhrx = " ".join(list_query)
  #return queryhrx

#my_date()

9
10 2021

In [4]:
import datetime
queryf2 = """select country, sum(amount) from payments as p inner join customers as c
on c.customerNumber = p.customerNumber
where year(paymentDate) = 2021 and month(paymentDate) between 9 and 19
group by country
order by country"""

list_queryf2 = queryf2.split()
print(list_queryf2.index('2021'))
print(list_queryf2.index('9'))
print(list_queryf2.index('19'))

actual_month = str(datetime.datetime.now().month)
actual_year = str(datetime.datetime.now().year)

list_queryf2[19] = actual_year
list_queryf2[23] = str(int(actual_month) - 3)
list_queryf2[25] = str(int(actual_month) - 1)

query_2full_month = " ".join(list_queryf2)

print(query_2full_month)

19
23
25
select country, sum(amount) from payments as p inner join customers as c on c.customerNumber = p.customerNumber where year(paymentDate) = 2021 and month(paymentDate) between 7 and 9 group by country order by country